AUTH_SECRET=<>
MONGODB_URI=mongodb://user:password@host.docker.internal:27017/warehouse-os?authSource=admin
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=warehouse-os
MONGO_INITDB_PORT=27017
